/* Global */
:root {
  --gray-main: #A6A6A6;
  --blue-main: #3E84FF;
  --black-main: #0F0000;
  --white-main: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#container {
  width: 90%;
  margin: 0 auto;
}

#container-one {
  width: 100%;
  margin: 0 auto;
}

/*boot*/
.max {
  max-width: 1400px;
  margin: 0 auto;
}

/* Body Start*/
header {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

header .max {
  width: 100%;
  display: flex;
  align-items: center;
}

header .max .logo {
  display: flex;
  justify-content: flex-start;
  padding-left: 45px;
  width: 40%;
}

header .max h2 {
  color: var(--blue-main);
  font-size: 2.5rem;
}

header .max nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-right: 45px;
  width: 60%;
}

header .max nav a {
  text-decoration: none;
  color: var(--gray-main);
  margin: 0 15px;
}

header .max nav a:hover {
  color: var(--blue-main);
}

header #check, label {
  display: none;
}

.img-landing {
  /* position: absolute;
  z-index: 98;
  top: 10px; */
  position: relative;
  background-image: url("./assets/imgs/about-bg-web-one.png");
  background-repeat:no-repeat;
  background-size:contain;
  height: 55rem;
  width: 90%;
  /* width: 80rem;  */
}

#landing {
  position: absolute;
  z-index: 99;
  top: 80px;
}

#landing .max {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#landing .descrip {
  width: 50%;
  height: 100%;
  color: var(--white-main);
  padding: 10px 100px;
  margin-top: 90px;
}

#landing .descrip h1 {
  font-size: 2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#landing .descrip h2 {
  font-size: 3.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#landing .descrip p {
  font-size: 1rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#landing .descrip button {
  padding: 15px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: bold;
  color: var(--blue-main);
  background: var(--white-main);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#landing .intro img {
  width: 400px;
  border-radius: 35px;
  margin-top: 70px;
}

#values .bulb {
  position: absolute;
  z-index: 0;
  border-radius: 35px;
  margin-left: 130px;
}

#values .rectangle {
  position: absolute;
  width: 100%;
  z-index: 0;
  margin-top: 180px;
}

#values .max {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#values .descrip {
  width: 60%;
  padding-left: 50px;
}

#values .box {
  width: 399px;
  height: 356px;
  margin-top: 30px;
  background-color: var(--white-main);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px;
}

#values .box h1 {
  padding: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

#values .box p {
  padding: 20px 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
}

#values .icons {
  width: 35%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#values .icon {
  width: 200px;
  padding: 15px;
}

#values .icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#values .icon h4 {
  padding-top: 20px;
  text-align: center;
}

#empty .max {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#empty .descrip {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#empty .box {
  margin-top: 100px;
  width: 60%;
  height: 356px;
  background-color: var(--white-main);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px;
  /* margin-top: 100px; */
}

#empty .box h1 {
  /* padding: 50px; */
  padding: 20px 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

#empty .box p {
  padding: 20px 20px;
  /* padding: 20px 50px; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
}

/* Contacto start */

#contacto h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

#contacto .max {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

#contacto .datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

#contacto .datos input {
  width: 50%;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}


#contacto .mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}


#contacto .mensaje textarea {
  width: 50%;
  height: 100%;
  margin: 5px;
  border-radius: 5px;

}

#contacto .mensaje button {
  margin-top: 5px;
  background-color: var(--blue-main);
  width: 50%;
}

#contacto label {
  display: block;
  font-weight: bold;
}
/* Contacto end */

/* Servicios start */

#servicios { 
  position: relative;
}

#servicios h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

#servicios .max {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#servicios .box {
  width: 100%;
  height: 100%;
  background-color: var(--white-main);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  /* margin-top: 100px; */
}

#empty .box h1 {
  padding: 20px 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

/* Servicios end */


/* start article - testimonials */
.testimonials {
  position: relative;
  overflow-x: hidden;
  margin-top: 40px;
}

.wrapper.-testimonials h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.wrapper.-testimonials {
  padding: 0 18px;
}

.title._testimonials {
  font-size: 2rem;
  letter-spacing: -.55px;
  margin: 14px 0 0 0;
}

.group._testimonials {
  display: flex;
}

.card._testimonials {
  position: relative;
  right: 0;
  margin: 37px 22px 0 0;
  background: var(--vary-light-gray);
  padding: 0 0 42px 0;
  width: 330px;
  transition: none;
  transform: translate(0);
}

.card._testimonials.-move {
  transition: 2s ease-in-out;
  transform: translate(-352px);
}

.slider._testimonials {
  display: flex;
  margin: 26px 0 0 0;
}

.circle._slider {
  width: 8px;
  height: 8px;
  border: 1px solid var(--bright-red);
  border-radius: 8px;
  margin-right: 4px;
}

.circle._slider:last-child {
  margin: 0;
}
/* end article - testimonials  */


footer {
  position: relative;
  display: flex;
  width: 100%;
  background-color: var(--blue-main);
  height: 250px;
  margin-top: 100px;
}

footer .max {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

footer .network {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .network a {
  margin: 4px;
}

footer .socials {
  display: inherit;
  /* height: 100%; */
  flex-direction: column;
  justify-content: space-evenly;
}

footer .socials h3 {
  font-size: 2.5rem;
  color: var(--white-main);
}

footer .utilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .utilities a {
  margin: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white-main);
}

@media (max-width: 774px) {
  header i{
      font-size: 24px;
      cursor: pointer;
      padding-right: 20px;
  }

  header label {
      display: block;
  }

  header nav a {
      display: none;
  }
}

@media (max-width: 947px ) {
  #landing .descrip {
      width: 100%;
      height: 100%;
      color: var(--white-main);
  }

  .img-landing {
      margin-bottom: 300px;
  }
}

@media (max-width: 1142px) {
  #values .descrip {
      width: 100%;
  }

  #values .icons {
      justify-content: flex-start;
      width: 100%;
      margin-top: 160px;
      justify-content: center;
  }
}
/* Body End */